<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578524104768-gv20mfo2rttgaf7adf0tl0eg0iamsicq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578524104768-gv20mfo2rttgaf7adf0tl0eg0iamsicq</string>
	<key>API_KEY</key>
	<string>AIzaSyD_HkWXHiTglmgubN0GHofv3KdPf15OadY</string>
	<key>GCM_SENDER_ID</key>
	<string>578524104768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techteam.todoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-4f14d</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-4f14d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578524104768:ios:02ec7ac8069ddfc0cfb7a5</string>
</dict>
</plist>